<!DOCTYPE html>
<html>
<head>
    <title>Hello Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
</head>



<body>

  
    <div id="app-dashboard">
      <dashboard-view v-bind:room_id=19></dashboard-view>
    </div>

      <script>
        Vue.component('dashboard-view', {
            props: ['room_id'],
            template: '<h3>I have room_id {{ room_id }}</h3>'
        })

        var socket = io();

        var app7 = new Vue({
            el: '#app-dashboard',

            data: {
                current_channel: [
                { id: 0, room_id: 'ROOM1_ID' },
                { id: 1, room_id: 'ROOM2_ID' },
                ]
            },

            created() {
              //socket.emit("ping");
              console.log("I am created");
            }

        });
      </script>

</body>

</html>