<!DOCTYPE html>
<html>
<head>
    <title>Hello Vue</title>
    <-- Load vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <-- Load socketio -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <-- Load axios for consuming rest api -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>



<body>

  
  <!-- This is the template for the dashboard-view-->
  <script type="text/x-template" id="channel-selector-template">
    <div>
      <label> Group</label>
      <select v-model="selected_grp">
        <option v-for="group in groups" v-bind:value="group">
          {{ group }}
        </option>
      </select>
      <br> 

      <label> Ch1_h </label>
      <select v-model="selected_ch1_h">
        <option v-for="ch1_h in h_channels" v-bind:value="ch1_h">
          {{ ch1_h | zero_pad }}
        </option>
      </select>
      <label> Ch1_v </label>
      <select v-model="selected_ch1_v">
        <option v-for="ch1_v in v_channels" v-bind:value="ch1_v">
          {{ ch1_v | zero_pad}}
        </option>
      </select>

      <br>
      <label> Ch2_h </label>
      <select v-model="selected_ch2_h">
        <option v-for="ch2_h in h_channels" v-bind:value="ch2_h">
          {{ ch2_h | zero_pad}}
        </option>
      </select>
      <label> Ch2_v </label>
      <select v-model="selected_ch2_v">
        <option v-for="ch2_v in v_channels" v-bind:value="ch2_v">
          {{ ch2_v | zero_pad}}
        </option>
      </select>

      <br>
      <label>Analysis</label>
      <select v-model="selected_anl">
        <option v-for="anl in analysis" v-bind:value="anl">
          {{anl}}
        </option>
      </select>
    
      <br>
      <button v-on:click="$emit('clicked', selected_grp, selected_ch1_h, selected_ch1_v, selected_ch2_h, selected_ch2_v, selected_anl)">Submit selection</button>
    </div>
  </script>

    <div id="app-dashboard">
      <h3>Selected channel:
         <!--{{ selected_grp }}{{selected_ch1_h | zero_pad}}{{ selected_ch1_v | zero_pad}}
        {{selected_ch2_h | zero_pad}}{{ selected_ch2_v | zero_pad}} -->
      </h3>
      <h3> Current room: {{ current_room }} </h3>
      <channel-selector v-on:clicked="onClicked"></channel-selector>
    </div>

      <script>
        Vue.component('channel-selector', {
            data() {
              return{
                message: '',
                selected_grp: 'G',
                selected_ch1_h: 1,
                selected_ch1_v: 1,
                selected_ch1_v: 1,
                selected_ch2_h: 1,
                selected_ch2_v: 1,
                selected_anl: 'correlation',
                groups: ["G", "H", "L"],
                // The syntax for the array produces something akin to range(1,24)
                h_channels: [...Array(24).keys()].map(x => x+1),
                v_channels: [...Array(8).keys()].map(x => x+1),
                analysis: ['correlation', 'bicoherence', 'S(k,w)']
              }
            },
            template: '#channel-selector-template',
            filters: {
              zero_pad: function(value) {
                if (value < 10) return '0' + value;
                else return '' + value;
              }
            }
        })

        // Initialize socketio
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
          console.log('Websocket connected - id ' + socket.id);
        });

        var app_dashboard = new Vue({
            el: '#app-dashboard',

            data: {
              current_channel: {ch_grp: 'G', ch1_h: 1, ch1_v: 1, ch2_h:1, ch2_v:1},
              current_room: null
            },

            methods: {
              // Mark the call-back async so that we can wait for the 
              // call to axios.get
              onClicked: async function(chgrp, h1, v1, h2, v2, an) {
                console.log("Submitted new selection: chgrp = " + chgrp + h1 + v1+ h2+v2);
                this.current_channel.ch_grp = chgrp;
                this.current_channel.ch1_h = h1;
                this.current_channel.ch1_v = v1;
                this.current_channel.ch2_h = h2;
                this.current_channel.ch2_v = v2;
                this.current_channel.analysis = an;

                console.log(socket.id);

                var need_new_room = false;
                var active_room = null;

                var tmp = null;

                // Get a list of currently subscribed to rooms. 
                // Request to leave that rooms
                await axios.get("/dashboard/subscribed_rooms", 
                {params: {sid: socket.id}}).then(function(response) 
                {    
                    response.data.subscribed_rooms.forEach(function(entry){
                      //console.log(" And now in a for loop: " + entry)
                      //socket.on("connect", function(socket) {socket.emit("leave", entry)});
                      socket.emit("request-leave", {sid: socket.id, room: entry});
                    });
                });

                await axios.get("/dashboard/open_rooms", {params:
                  {
                    ch_grp: chgrp,
                    analysis: an,
                    sid: socket.id,
                    ch1_h: h1,
                    ch1_v: v1,
                    ch2_h: h2,
                    ch2_v: v2
                  }}).then(function (response) {
                    console.log("open_rooms returned: " + response.data.active_room + ".");
                    //socket.on("connect", function(socket) {
                    //  console.log("socket = " + socket);
                    //  socket.emit("join", response.data.active_room)});
                    socket.emit("request-join", {sid: socket.id, room: response.data.active_room});
                  });


                // await axios.get('/dashboard/open_rooms', {params:
                //   {
                //     ch_grp: chgrp,
                //     analysis: an,
                //     sid: socket.id,
                //     ch1_h: h1,
                //     ch1_v: v1,
                //     ch2_h: h2,
                //     ch2_v: v2
                //   }}).then(function (response) {
                //     if(response.data.active_room == null)
                //     {
                //       console.log("open_rooms returned null. Need to open a new room");
                //       need_new_room = true;
                //       active_room = null;
                //     }
                //     else
                //     {
                //       console.log("open_rooms returned " + response.data.active_room + ", attempting to joing room");
                //       need_new_room = false;
                //       active_room = response.data.active_room;

                //     }
                //   });

                //   console.log("need_new_room = " + need_new_room);

                //   if(need_new_room) {   
                //     console.log("Sending post to create_room");    
                //     await axios.get('/dashboard/create_room', {params:
                //     {
                //       ch_grp: chgrp,
                //       analysis: an,
                //       sid: socket.id,
                //       ch1_h: h1,
                //       ch1_v: v1,
                //       ch2_h: h2,
                //       ch2_v: v2}}).then(function(response){
                //         console.log("Joined room " + response.data.new_room_id);
                //         this.current_room = response.data.new_room_id;
                //       });
                //   }
                  //else {
                  //  await axios.post('/dashboard/enter_room',
                  //    {room_id:active_room, sid: socket.id}).then(function() {
                  //      console.log("Trying to enter room " + active_room);
                  //    });
                  //    //this.current_room = active_room;
                  //}


              }
            },

            mounted() {
              console.log("I am mounted");
            },

            created() {
              //socket.emit("ping");
              console.log("I am created");
            }

        });
      </script>

</body>

</html>